<div style="width: 80%;">
    <div style="display: flex; width: 100%;">
        <div style="margin-left: 10px;width:80%;">Product Add</div>
        <div style="margin-right: 0px;width:20%;">
        <span></span>&nbsp;&nbsp;&nbsp;<button mat-button (click)="onSubmit()">Save</button> 
        </div>
    </div>
    <hr  />
</div>

<div class="card">
 
  
  <div class="card-body">
      <div class="table-responsive">
    
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div formGroupName="productData">
    
          <table class="table">
           
            <tbody>
              <tr>
              <td>SKU</td>
                <td><input type="text"   width=20 class="form-control" id="txtSKU"  /></td>
              </tr>
              <tr>
                <td> Name</td>
                <td><input type="text"   width=20 class="form-control" id="txtName"  /></td>        
              </tr>
              <tr>
                  <td>Price</td>
                  <td><input type="text"   width=20 class="form-control" id="txtPrice" /></td>
              </tr>
              
      
            </tbody>
          </table>
            </div>
        </form>
     
              </div>
        </div>
  </div>
