<div style="width: 80%;">
    <div style="display: flex; width: 100%;">
        <div style="margin-left: 10px;width:80%;">PRODUCT LIST</div>
        <div style="margin-right: 0px;width:20%;">
        <span>Mass Delete</span>&nbsp;&nbsp;&nbsp;<button mat-button (click)="delete()">Apply</button>
        &nbsp;&nbsp;&nbsp;<button mat-button (click)="gotoProductForm()">Add Product</button> 
        </div>
    </div>
    <hr  />
    <div  *ngFor="let item of products;let i = index" fxLayout="row"    fxLayoutGap="2%"  [style.margin-top]="'20px'"  [style.margin-left]="'20px'" [style.margin-right]="'20px'">
      <mat-card   class="tp-card"  style="width: 25%; height:100%; border:thin solid black !important;">
        <mat-card-header>
            <mat-card-title>   
           <input type="checkbox"  name="mycheckboxes" class="myCheck"  id="chk{{item.id}}" value="{{item.id}}">
           </mat-card-title>
         </mat-card-header>
        <mat-card-content style="text-align: center;">
          <p>{{item.sku}}</p>
          <p>{{item.name}}</p>
          <p>{{item.price}} $</p>
         <p>
            <span *ngIf="item.unitType=='mb'">Size </span>
            <span *ngIf="item.unitType=='kg'">Weight </span>
            <span *ngIf="item.unitType==''">Dimension </span>
            : {{item.unitValue}}  {{item.unitType}}
        </p>
        </mat-card-content>
      </mat-card> 
     <!----<p *ngIf="((i+1)%5)==0">{{((i+1))}}<br /></p>  -->
    </div>
</div>